:host {
  .button {
    color: rgb(255, 255, 255);
    font-size: 12px;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    margin-bottom: 10px;
    text-align: center;
  }
}
